* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cajero-container {
    background-color: #333;
    color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pantalla {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pantalla h2 {
    margin-bottom: 10px;
}

.botones {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #00bfa5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #008c7a;
}
